In [1]:
x = int(input("Coloque um número: "))
if type(x) == int:
    print ("É inteiro")

Coloque um número: 10
É inteiro

In [2]:
x = int(input("Coloque um número: "))
if x%2==0:
    print("É par")
else:
    print("É impar")

Coloque um número: 1
É impar

In [3]:
x =int(input("Coloque um número: "))
y = int(input("Coloque um número: "))
if x > y:
    print ("O 1º número é maior")
elif x == y:
    print ("São iguais")
else:
    print ("O 2º número é maior")

Coloque um número: 12
Coloque um número: 12
São iguais

In [4]:
x =int(input("Coloque um número: "))
y = int(input("Coloque um número: "))

if x%y ==0:
    print("É multiplo")
else:
    print("Não é multiplo")

Coloque um número: 12
Coloque um número: 23
Não é multiplo

In [5]:
capital = 200
tempo = 3
taxa = 0.03
formula = capital *tempo * taxa
print(formula)

18.0

In [6]:
capital = 200
tempo = 3
taxa = 0.03
formula = (capital * (1+ (taxa **tempo)))
print(formula)

200.0054

In [7]:
peso=50
altura=1.73
BMI = (peso)/(altura**2)
print (BMI)

16.70620468441979

In [11]:
from math import sqrt
golden = (1 + sqrt(5))/2
print (golden)

1.618033988749895

In [1]:
from datetime import date
today = date.today()
ano = 1998
anos = today.year -1998
print(anos)

21

In [13]:
name = "Rodrigo Heliodoro Vilaca Santos Alcarva"
nameBig = name.upper()
nameTitle = name.title()
nameSmall = name.lower()
nameCapitalize = name.capitalize()

print (nameBig)
print (nameTitle)
print (nameSmall)
print (nameCapitalize)

RODRIGO HELIODORO VILACA SANTOS ALCARVA
Rodrigo Heliodoro Vilaca Santos Alcarva
rodrigo heliodoro vilaca santos alcarva
Rodrigo heliodoro vilaca santos alcarva

In [16]:
name = "Rodrigo Heliodoro Vilaca Santos Alcarva"
print(name.find('da'))

-1